

/***** CUSTOM PROPERTIES *****/

:root{
  --bg-header: rgb(44,62,80);
  --bg-odd-section: rgb(26,188,156);
  --bg-top-footer: rgb(58,84,109);
}


/***** GENERICS *****/




/**** UTILITY ****/

.round-img{
  border-radius: 25px;
}

.even-star{
  color: rgb(44,62,80);
}

.odd-star{
  color: white;
}

.even-line{
  border: 2px solid rgb(44,62,80);
}

.odd-line{
  border: 2px solid white;
}


/* TODO REMOVE */
.bsw{
  border: 1px solid white;
}

.bsb{
  border: 1px solid black;
}

.bdr{
  border: 1px dashed red;
}



/*** HEADER ***/

header{
  background-color: var(--bg-header);
  color: white;
}




/*** MAIN ***/

/* Jumbotron */

.jumbotron{
  background-color: var(--bg-odd-section);
  color: white;
}

/* Portofolio */


/* About */

.about{
  background-color: var(--bg-odd-section);
  color: white;
}


/* Footer */

footer{
  color: white;
}

.top-footer{
  background-color: var(--bg-top-footer);
}

.copyright{
  background-color: var(--bg-header);
}