

/***** CUSTOM PROPERTIES *****/

:root{
  --bg-header: rgb(44,62,80);
  --bg-odd-section: rgb(26,188,156);
  --bg-top-footer: rgb(58,84,109);
}


/***** GENERICS *****/



/**** UTILITY ****/

.round-img{
  border-radius: 25px;
}

.even-star{
  color: rgb(44,62,80);
}

.odd-star{
  color: white;
}

.even-line{
  border: 2px solid rgb(44,62,80);
}

.odd-line{
  border: 2px solid white;
}

.bd-white{
  border-color: white;
}

.bg-btn-submit{
  background-color: var(--bg-odd-section);
}





/*** HEADER ***/

header{
  background-color: var(--bg-header);
}

.nav-item a{
  color: white;
}






/*** MAIN ***/

/* Jumbotron */

.jumbotron{
  background-color: var(--bg-odd-section);
  color: white;
}

/* Portofolio */


/* About */

.about{
  background-color: var(--bg-odd-section);
  color: white;
}

/* Contact me */

#contact .form-control{
  border: 0;
  border-bottom: 1px solid rgb(204,204,204);
  border-radius: 0;
  padding-left: 0;

  font-size: 20px;
}

#contact ::placeholder{
  color: black;
}


/* Footer */

footer{
  color: white;
}

.top-footer{
  background-color: var(--bg-top-footer);
}

.copyright{
  background-color: var(--bg-header);
}